@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffff;
  --primary: #1c9ad6;
  --lighter: #61c2ee;
  --darker: #1981b4;
  --text: #041C28;
  --card: rgba(97, 194, 238, 0.25);
  --text25: rgba(0, 13, 19, 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-lighter: var(--lighter);
  --color-darker: var(--darker);
  --color-text: var(--text);
  --color-text25: var(--text25);
  --color-card: var(--card);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.circle-container {
  position: relative;
  width: 200px; /* Ukuran lebih besar agar teks melingkar rapi */
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3f704d;
  font-size: 14px; /* Sesuaikan ukuran teks */
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  margin-right: 90px;
  letter-spacing: 2.5px;
}

.logo {
  width: auto; /* Sesuaikan agar pas dengan lingkaran */
  height: auto;
  position: absolute;
  margin-right: 90px;
}

