@import "tailwindcss";
@import "@fontsource/montserrat"; /* Menggunakan font Montserrat */

:root {
  --background: #ffffff;
  --foreground: #ffff;
  --primary: #1c9ad6;
  --lighter: #61c2ee;
  --darker: #1981b4;
  --text: #041C28;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-lighter: var(--lighter);
  --color-darker: var(--darker);
  --color-text: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

